@charset "utf-8";
table {
  background: #FFFFFF;
  margin-bottom: 0.6rem;
  border: solid 1px #DDDDDD;
  table-layout: auto;
  width: 100%;
}
table caption {
  background: transparent;
  color: #222222;
  font-size: 1rem;
  font-weight: bold;
}
table thead {
  background: #F5F6FA;
  border-bottom: 1px solid #e1e6eb;
}
table thead tr th,
table thead tr td {
  padding: 0.5625rem 0.625rem;
  font-weight: normal;
}
table tfoot {
  background: #F5F5F5;
}
table tfoot tr th,
table tfoot tr td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
}
table tr th,
table tr td {
  padding: 0.5625rem 0.625rem;
  text-align: left;
}
table tr th {
  color: #888;
}
table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
  background: #fcfcfc;
}
table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td {
  display: table-cell;
}
@media screen and (min-width: 1440px) {
  table thead tr th,
  table thead tr td {
    font-size: 14px;
  }
}
ul,
li {
  list-style: none;
}
/*定位的位置*/
.position-a {
  position: absolute;
}
.lb20 {
  position: absolute !important;
  left: 20px;
  bottom: 20px;
}
.lt20 {
  position: absolute !important;
  left: 20px;
  top: 20px;
}
.rb20 {
  position: absolute !important;
  right: 20px;
  bottom: 20px;
}
.rt20 {
  position: absolute !important;
  right: 20px;
  top: 20px;
}
.lb10 {
  position: absolute !important;
  left: 10px;
  bottom: 10px;
}
.lt10 {
  position: absolute !important;
  left: 10px;
  top: 10px;
}
.rb10 {
  position: absolute !important;
  right: 10px;
  bottom: 10px;
}
.rt10 {
  position: absolute !important;
  right: 10px;
  top: 10px;
}
.l0 {
  left: 0;
}
.r0 {
  right: 0;
}
.b0 {
  bottom: 0;
}
.t0 {
  top: 0;
}
.l10 {
  left: 10px;
}
.r10 {
  right: 10px;
}
.b10 {
  bottom: 10px;
}
.t10 {
  top: 10px;
}
.l20 {
  left: 20px;
}
.r20 {
  right: 20px;
}
.b20 {
  bottom: 20px;
}
.t20 {
  top: 20px;
}
.f-dropdown {
  width: 100%;
}
.f-dropdown .button {
  margin-bottom: 0;
}
.f-dropdown.small {
  max-width: 320px;
}
.no-bg {
  background: none !important;
}
.mar0 {
  margin: 0px !important;
}
.mar5 {
  margin: 5px !important;
}
.mar7 {
  margin: 7px !important;
}
.mar10 {
  margin: 10px !important;
}
.mar15 {
  margin: 15px !important;
}
.mar20 {
  margin: 20px !important;
}
.margin-t4 {
  margin-top: 4px !important;
}
.margin-r4 {
  margin-right: 4px !important;
}
.margin-b4 {
  margin-bottom: 4px !important;
}
.margin-l4 {
  margin-left: 4px !important;
}
.margin-t6 {
  margin-top: 4px !important;
}
.margin-r6 {
  margin-right: 6px !important;
}
.margin-b6 {
  margin-bottom: 6px !important;
}
.margin-l6 {
  margin-left: 6px !important;
}
.margin-l10 {
  margin-left: 10px !important;
}
.margin-t10 {
  margin-top: 10px !important;
}
.margin-b10 {
  margin-bottom: 10px !important;
}
.margin-r10 {
  margin-right: 10px !important;
}
.margin-l20 {
  margin-left: 20px !important;
}
.margin-t20 {
  margin-top: 20px !important;
}
.margin-b20 {
  margin-bottom: 20px !important;
}
.margin-r20 {
  margin-right: 20px !important;
}
.no-margin {
  margin: 0px !important;
}
.pad1 {
  padding: 1px !important;
}
.pad5 {
  padding: 5px !important;
}
.pad10 {
  padding: 10px !important;
}
.pad15 {
  padding: 15px !important;
}
.pad20 {
  padding: 20px !important;
}
.pad25 {
  padding: 25px !important;
}
.pad30 {
  padding: 30px !important;
}
.pad35 {
  padding: 35px !important;
}
.pad40 {
  padding: 40px !important;
}
.pad45 {
  padding: 45px !important;
}
.pad50 {
  padding: 50px !important;
}
.padding-l10 {
  padding-left: 10px !important;
}
.padding-t10 {
  padding-top: 10px !important;
}
.padding-b10 {
  padding-bottom: 10px !important;
}
.padding-r10 {
  padding-right: 10px !important;
}
.padding-l20 {
  padding-left: 20px !important;
}
.padding-t20 {
  padding-top: 20px !important;
}
.padding-b20 {
  padding-bottom: 20px !important;
}
.padding-r20 {
  padding-right: 20px !important;
}
.no-padding {
  padding: 0px !important;
}
@media only screen and (max-width: 639px) {
  .slb20 {
    position: absolute !important;
    left: 20px;
    bottom: 20px;
  }
  .slt20 {
    position: absolute !important;
    left: 20px;
    top: 20px;
  }
  .srb20 {
    position: absolute !important;
    right: 20px;
    bottom: 20px;
  }
  .srt20 {
    position: absolute !important;
    right: 20px;
    top: 20px;
  }
  .slb10 {
    position: absolute !important;
    left: 10px;
    bottom: 10px;
  }
  .slt10 {
    position: absolute !important;
    left: 10px;
    top: 10px;
  }
  .srb10 {
    position: absolute !important;
    right: 10px;
    bottom: 10px;
  }
  .srt10 {
    position: absolute !important;
    right: 10px;
    top: 10px;
  }
  .sl0 {
    left: 0;
  }
  .sr0 {
    right: 0;
  }
  .sb0 {
    bottom: 0;
  }
  .st0 {
    top: 0;
  }
  .sl10 {
    left: 10px;
  }
  .sr10 {
    right: 10px;
  }
  .sb10 {
    bottom: 10px;
  }
  .st10 {
    top: 10px;
  }
  .sl20 {
    left: 20px;
  }
  .sr20 {
    right: 20px;
  }
  .sb20 {
    bottom: 20px;
  }
  .st20 {
    top: 20px;
  }
}
.small-no-padding {
  padding: 0px !important;
}
/*大中小屏内边距*/
.small-pad10-nr {
  padding: 10px !important;
  padding-right: 0px !important;
}
.small-pad10 {
  padding: 10px !important;
}
.small-pad20 {
  padding: 20px !important;
}
.small-padding-t {
  padding-top: 10px !important;
}
.small-padding-b {
  padding-bottom: 10px !important;
}
.small-padding-l {
  padding-left: 10px !important;
}
.small-padding-r {
  padding-right: 10px !important;
}
.small-padding-t0 {
  padding-top: 0 !important;
}
.small-padding-b0 {
  padding-bottom: 0 !important;
}
.small-padding-l0 {
  padding-left: 0 !important;
}
.small-padding-r0 {
  padding-right: 0 !important;
}
.small-no-margin {
  margin: 0 !important;
}
.small-margin-t {
  margin-top: 10px !important;
}
.small-margin-b {
  margin-bottom: 10px !important;
}
.small-margin-l {
  margin-left: 10px !important;
}
.small-margin-r {
  margin-right: 10px !important;
}
.small-margin-t0 {
  margin-top: 0 !important;
}
.small-margin-b0 {
  margin-bottom: 0 !important;
}
.small-margin-l0 {
  margin-left: 0 !important;
}
.small-margin-r0 {
  margin-right: 0 !important;
}
@media only screen and (max-width: 639px) {
  .small-no-float-only {
    float: none !important;
  }
}
@media only screen and (min-width: 640px) {
  .medium-padding-t {
    padding-top: 10px !important;
  }
  .medium-padding-b {
    padding-bottom: 10px !important;
  }
  .medium-padding-l {
    padding-left: 10px !important;
  }
  .medium-padding-r {
    padding-right: 10px !important;
  }
  .medium-padding-t0 {
    padding-top: 0 !important;
  }
  .medium-padding-b0 {
    padding-bottom: 0 !important;
  }
  .medium-padding-l0 {
    padding-left: 0 !important;
  }
  .medium-padding-r0 {
    padding-right: 0 !important;
  }
  .medium-no-margin {
    margin: 0 !important;
  }
  .medium-no-border {
    border: none !important;
  }
  .medium-no-padding {
    padding: 0 !important;
  }
  .medium-margin-t {
    margin-top: 10px !important;
  }
  .medium-margin-b {
    margin-bottom: 10px !important;
  }
  .medium-margin-l {
    margin-left: 10px !important;
  }
  .medium-margin-r {
    margin-right: 10px !important;
  }
  .medium-margin-t0 {
    margin-top: 0 !important;
  }
  .medium-margin-b0 {
    margin-bottom: 0 !important;
  }
  .medium-margin-l0 {
    margin-left: 0 !important;
  }
  .medium-margin-r0 {
    margin-right: 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  .pad-padding-t {
    padding-top: 10px !important;
  }
  .pad-padding-b {
    padding-bottom: 10px !important;
  }
  .pad-padding-l {
    padding-left: 10px !important;
  }
  .pad-padding-r {
    padding-right: 10px !important;
  }
  .pad-padding-t0 {
    padding-top: 0 !important;
  }
  .pad-padding-b0 {
    padding-bottom: 0 !important;
  }
  .pad-padding-l0 {
    padding-left: 0 !important;
  }
  .pad-padding-r0 {
    padding-right: 0 !important;
  }
  .pad-no-margin {
    margin: 0 !important;
  }
  .pad-margin-t {
    margin-top: 10px !important;
  }
  .pad-margin-b {
    margin-bottom: 10px !important;
  }
  .pad-margin-l {
    margin-left: 10px !important;
  }
  .pad-margin-r {
    margin-right: 10px !important;
  }
  .pad-margin-t0 {
    margin-top: 0 !important;
  }
  .pad-margin-b0 {
    margin-bottom: 0 !important;
  }
  .pad-margin-l0 {
    margin-left: 0 !important;
  }
  .pad-margin-r0 {
    margin-right: 0 !important;
  }
}
@media only screen and (min-width: 992px) {
  .xpad-padding-t {
    padding-top: 10px !important;
  }
  .xpad-padding-b {
    padding-bottom: 10px !important;
  }
  .xpad-padding-l {
    padding-left: 10px !important;
  }
  .xpad-padding-r {
    padding-right: 10px !important;
  }
  .xpad-padding-t0 {
    padding-top: 0 !important;
  }
  .xpad-padding-b0 {
    padding-bottom: 0 !important;
  }
  .xpad-padding-l0 {
    padding-left: 0 !important;
  }
  .xpad-padding-r0 {
    padding-right: 0 !important;
  }
  .xpad-no-margin {
    margin: 0 !important;
  }
  .xpad-margin-t {
    margin-top: 10px !important;
  }
  .xpad-margin-b {
    margin-bottom: 10px !important;
  }
  .xpad-margin-l {
    margin-left: 10px !important;
  }
  .xpad-margin-r {
    margin-right: 10px !important;
  }
  .xpad-margin-t0 {
    margin-top: 0 !important;
  }
  .xpad-margin-b0 {
    margin-bottom: 0 !important;
  }
  .xpad-margin-l0 {
    margin-left: 0 !important;
  }
  .xpad-margin-r0 {
    margin-right: 0 !important;
  }
}
@media only screen and (min-width: 1024px) {
  .large-padding-t {
    padding-top: 10px !important;
  }
  .large-padding-b {
    padding-bottom: 10px !important;
  }
  .large-padding-l {
    padding-left: 10px !important;
  }
  .large-padding-r {
    padding-right: 10px !important;
  }
  .large-padding-t0 {
    padding-top: 0 !important;
  }
  .large-padding-b0 {
    padding-bottom: 0 !important;
  }
  .large-padding-l0 {
    padding-left: 0 !important;
  }
  .large-padding-r0 {
    padding-right: 0 !important;
  }
  .large-margin-t {
    margin-top: 10px !important;
  }
  .large-margin-b {
    margin-bottom: 10px !important;
  }
  .large-margin-l {
    margin-left: 10px !important;
  }
  .large-margin-r {
    margin-right: 10px !important;
  }
  .large-margin-t20 {
    margin-top: 20px !important;
  }
  .large-margin-b20 {
    margin-bottom: 20px !important;
  }
  .large-margin-l20 {
    margin-left: 20px !important;
  }
  .large-margin-r20 {
    margin-right: 20px !important;
  }
  .large-margin-t0 {
    margin-top: 0 !important;
  }
  .large-margin-b0 {
    margin-bottom: 0 !important;
  }
  .large-margin-l0 {
    margin-left: 0 !important;
  }
  .large-margin-r0 {
    margin-right: 0 !important;
  }
}
@media only screen and (min-width: 1200px) {
  .xlarge-padding-t {
    padding-top: 10px !important;
  }
  .xlarge-padding-b {
    padding-bottom: 10px !important;
  }
  .xlarge-padding-l {
    padding-left: 10px !important;
  }
  .xlarge-padding-r {
    padding-right: 10px !important;
  }
  .xlarge-padding-t0 {
    padding-top: 0 !important;
  }
  .xlarge-padding-b0 {
    padding-bottom: 0 !important;
  }
  .xlarge-padding-l0 {
    padding-left: 0 !important;
  }
  .xlarge-padding-r0 {
    padding-right: 0 !important;
  }
  .xlarge-margin-t {
    margin-top: 10px !important;
  }
  .xlarge-margin-b {
    margin-bottom: 10px !important;
  }
  .xlarge-margin-l {
    margin-left: 10px !important;
  }
  .xlarge-margin-r {
    margin-right: 10px !important;
  }
  .xlarge-margin-t20 {
    margin-top: 20px !important;
  }
  .xlarge-margin-b20 {
    margin-bottom: 20px !important;
  }
  .xlarge-margin-l20 {
    margin-left: 20px !important;
  }
  .xlarge-margin-r20 {
    margin-right: 20px !important;
  }
  .xlarge-margin-t0 {
    margin-top: 0 !important;
  }
  .xlarge-margin-b0 {
    margin-bottom: 0 !important;
  }
  .xlarge-margin-l0 {
    margin-left: 0 !important;
  }
  .xlarge-margin-r0 {
    margin-right: 0 !important;
  }
}
@media only screen and (min-width: 1400px) {
  .xxlarge-padding-t {
    padding-top: 10px !important;
  }
  .xxlarge-padding-b {
    padding-bottom: 10px !important;
  }
  .xxlarge-padding-l {
    padding-left: 10px !important;
  }
  .xxlarge-padding-r {
    padding-right: 10px !important;
  }
  .xxlarge-padding-t0 {
    padding-top: 0 !important;
  }
  .xxlarge-padding-b0 {
    padding-bottom: 0 !important;
  }
  .xxlarge-padding-l0 {
    padding-left: 0 !important;
  }
  .xxlarge-padding-r0 {
    padding-right: 0 !important;
  }
  .xxlarge-margin-t {
    margin-top: 10px !important;
  }
  .xxlarge-margin-b {
    margin-bottom: 10px !important;
  }
  .xxlarge-margin-l {
    margin-left: 10px !important;
  }
  .xxlarge-margin-r {
    margin-right: 10px !important;
  }
  .xxlarge-margin-t20 {
    margin-top: 20px !important;
  }
  .xxlarge-margin-b20 {
    margin-bottom: 20px !important;
  }
  .xxlarge-margin-l20 {
    margin-left: 20px !important;
  }
  .xxlarge-margin-r20 {
    margin-right: 20px !important;
  }
  .xxlarge-margin-t0 {
    margin-top: 0 !important;
  }
  .xxlarge-margin-b0 {
    margin-bottom: 0 !important;
  }
  .xxlarge-margin-l0 {
    margin-left: 0 !important;
  }
  .xxlarge-margin-r0 {
    margin-right: 0 !important;
  }
}
/*//弹出层样式*/
.reveal-modal {
  visibility: hidden;
  display: none;
  position: fixed;
  z-index: 1005;
  width: 100%;
  top: 0;
  border-radius: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 100px !important;
}
.opp_result {
  visibility: hidden;
  z-index: 2;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  background-color: #FFFFFF;
  max-width: 480px;
  box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.4);
  transition: right .3s,visibility .2s .1s;
}
.opp_result.open {
  right: 0;
  visibility: visible;
  transition: right 0s,visibility 0;
}
.reveal-modal .modal-title,
.opp_result .modal-title {
  font-size: 18px;
  margin: 0 20px;
  border-bottom: 1px solid #ddd;
  height: 58px;
  line-height: 58px;
  position: relative;
}
.modal-tools {
  margin-right: 30px;
}
.modal-tools > a {
  font-size: 12px;
}
.reveal-modal .modal_wrap,
.opp_result .modal_wrap,
.modal .modal_wrap {
  padding: 20px 20px 15px;
  overflow-y: auto;
  width: 100%;
  max-height: -moz-calc(100vh - 300px);
  max-height: -webkit-calc(100vh - 300px);
  max-height: calc(100vh - 300px);
  min-height: 215px;
}
.openModal {
  padding: 0;
}
.reveal-modal.really {
  max-width: 780px;
}
.confirm {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 0;
}
.confirm .button {
  margin-bottom: 0;
}
.reveal-modal .close-reveal-modal,
.opp_result .close-opp-result {
  font-size: 1.6rem;
  position: absolute;
  top: 0.625rem;
  right: 1.375rem;
  color: #AAAAAA;
  font-weight: normal;
  cursor: pointer;
}
.confirm .close-reveal-modal {
  display: inherit;
  position: inherit;
  text-decoration: inherit;
  top: inherit;
  right: inherit;
  font-size: 0.88889rem;
  text-align: center;
}
.confirm .close-reveal-modal.small {
  font-size: 0.72222rem;
}
.reveal-modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1004;
  display: none;
  left: 0;
}
@media only screen and (min-width: 35.61111em) {
  .reveal-modal {
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 100%;
  }
  .reveal-modal.small {
    left: 0;
    margin: 0 auto;
    max-width: 640px;
    right: 0;
  }
  .reveal-modal.tiny {
    left: 0;
    max-width: 546px;
    right: 0;
  }
  .reveal-modal.large {
    left: 0;
    margin: 0 auto;
    max-width: 1720px;
    right: 0;
  }
  .reveal-modal.medium {
    left: 0;
    margin: 0 auto;
    max-width: 768px;
    right: 0;
  }
}
/*//删除*/
.warning-panel .font-i {
  font-size: 62px;
  position: absolute;
  top: 50%;
  left: 6px;
}
.warning-panel .dele {
  margin: 13px 0 0 0 !important;
  box-shadow: none !important;
  padding: 10px 0 0 !important;
}
.warning-panel > .close-reveal-modal {
  display: block;
  position: absolute;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  padding: 0;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  line-height: 20px;
  font-size: 26px;
  text-align: center;
}
.warning-panel .txt_delete {
  font-size: 1rem;
}
.reveal-modal .dele .close-reveal-modal {
  color: inherit;
  display: inherit;
  position: inherit;
  text-decoration: inherit;
  outline: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  top: inherit;
  right: inherit;
  font-size: 0.8125rem;
}
.reveal-modal .dele .button {
  margin-bottom: 0;
}
.warning-panel {
  max-width: 350px !important;
  padding: 20px;
  border-radius: 3px;
}
@media only screen and (max-width: 991px) {
  .reveal-open {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .reveal-modal .modal-title {
    margin: 0 16px;
  }
  .reveal-modal .modal_wrap,
  .opp_result .modal_wrap,
  .modal .modal_wrap {
    padding: 10px;
    max-height: none;
    height: -moz-calc(100vh - 114px);
    height: -webkit-calc(100vh - 114px);
    height: calc(100vh - 114px);
  }
  .warning-panel {
    max-width: 300px !important;
    padding: 10px;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 639px) {
  .reveal-modal {
    top: 0 !important;
    bottom: 0 !important;
    border-radius: 0;
  }
  .warning-panel.reveal-modal {
    top: 100px !important;
    bottom: inherit !important;
    border-radius: 4px;
  }
}
/*tree树*/
.tree {
  overflow: auto;
  transition: opacity .1s ease .2s;
  height: -moz-calc(100vh - 120px);
  height: -webkit-calc(100vh - 120px);
  height: calc(100vh - 120px);
}
.tree li {
  position: relative;
}
.tree li > a {
  line-height: 36px;
  height: 36px;
  display: block;
  position: relative;
  white-space: nowrap;
}
/*.tree ul{display: none;}*/
.tree li a span.fa-folder {
  font-size: 18px;
  position: relative;
  top: 1px;
  margin-right: 4px;
}
.tree li > span {
  display: inline-block;
  width: 30px;
  height: 36px;
  position: absolute;
  line-height: 36px;
  text-align: center;
  z-index: 1;
}
.tree ul,
.tree {
  margin: 0;
}
.tree li a:hover,
.tree li a.active,
.tree li a.jshover {
  background: #fff;
}
.context-menu {
  position: absolute;
  right: 0;
  top: 3px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.tree li a:hover + .context-menu,
.tree li a.active + .context-menu,
.context-menu:hover {
  opacity: 1;
  visibility: visible;
}
.reveal-modal .context-menu {
  display: none;
}
#selelctTreeDialog .context-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}
#selelctTreeDialog .context-menu span {
  color: gray;
}
.reveal-modal .tree {
  height: auto !important;
}
@media screen and (max-width: 991px) {
  .tree {
    height: -moz-calc(100vh - 70px);
    height: -webkit-calc(100vh - 70px);
    height: calc(100vh - 70px);
  }
  .tree li > a {
    line-height: 40px;
    height: 40px;
  }
  .tree li > span {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }
  .context-menu {
    height: 40px;
    line-height: 40px;
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}
/*according*/
.accordion .accordion-navigation > .content,
.accordion dd > .content {
  display: none;
}
.accordion .accordion-navigation > .content.active,
.accordion dd > .content.active {
  display: block;
}
/*accordion-list*/
.accordion-list {
  background: #fff;
  box-shadow: 3px 3px 1px #e5e5e5;
  min-height: 400px;
  transition: opacity .1s ease .2s;
}
.accordion-list .accordion-header .fa-user {
  margin-right: 10px;
}
.accordion-banner {
  display: none;
}
.accordion-header,
.tree-header {
  font-size: 12px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  background: #D9DEE4;
  overflow: hidden;
  height: 50px;
  transition: opacity .2s .1s;
}
.accordion-header .fa {
  font-size: 18px;
  margin-right: 4px;
  position: relative;
  top: 1px;
}
.accordion-list ul {
  margin: 0;
}
.accordion-list li {
  padding: 0;
  background: none;
}
.accordion-list .accordion li span {
  /*float:left;*/
  line-height: 24px;
  width: 16px;
}
.accordion-list .accordion li a {
  font-size: 14px;
  display: block;
  padding: 0 10px 0 35px;
  position: relative;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background .3s;
}
.accordion-list .accordion .accordion-navigation > .content.active {
  padding: 0;
}
.accordion-list .accordion .accordion-navigation > .content.active > a {
  font-size: 14px;
  display: block;
}
.accordion-list .accordion-navigation > a,
.accordion-list .accordion-navigation > a:hover,
.accordion-list .accordion-navigation.active > a {
  background: none;
  white-space: nowrap;
}
.accordion-list li.accordion-navigation > a .fa-caret-right,
.accordion-list li.accordion-navigation.active > a .fa-caret-down {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 8px;
}
.accordion-list li.accordion-navigation.active > a .fa-caret-right,
.accordion-list li.accordion-navigation > a .fa-caret-down {
  display: none;
  position: absolute;
  left: 20px;
  top: 12px;
}
@media screen and (max-width: 991px) {
  .accordion-header,
  .tree-header {
    font-size: 16px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
  }
  .accordion-banner {
    display: block;
    float: left;
  }
  .accordion-header-small .accordion-banner-logo {
    background: url(../images/logo.png) no-repeat;
    background-position: left center;
    width: 42px;
    height: 27px;
    background-size: 40px 25px;
    float: left;
    margin-right: 8px;
  }
  .accordion-list {
    box-shadow: none;
    padding: 10px;
  }
  .accordion-list .accordion li {
    padding: 10px 0px 0 0;
  }
  .accordion-list .accordion li a {
    color: #979898;
  }
  .accordion-list > ul > li {
    border-top: 1px dotted #383838;
  }
  .accordion-list .font-alert {
    color: #fff !important;
  }
}
/*basic*/
/*提示框*/
.error.alert-box {
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  width: 330px;
  padding: 5px 45px 10px;
  line-height: 24px;
}
.v_info_success .success.alert-box {
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  width: 300px;
  padding: 5px 45px 10px;
  line-height: 24px;
}
.fixed {
  top: -100%;
  left: 0;
  opacity: 1;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.v_info_success.open {
  top: 0;
}
.hide-for-small {
  display: block !important;
}
.hide-for-large {
  display: none !important;
}
label {
  display: block;
  line-height: 36px;
  font-size: 0.875rem;
}
.icon-angle-down {
  padding-right: 20px;
  position: relative;
}
.icon-angle-down:after,
.icon-angle-down:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ddd;
  position: absolute;
  right: 8px;
}
.icon-angle-down:after {
  top: 7px;
  z-index: 1;
}
.icon-angle-down:before {
  top: 8px;
  border-top-color: #000;
}
@media only screen and (max-width: 991px) {
  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: none;
  }
  .dropdown-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 88;
    top: 0;
    left: 0;
  }
  .overlay.open {
    display: block;
  }
  .white_overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 10;
    display: none;
  }
  .overlay.open,
  .white_overlay.open {
    display: block;
    z-index: 1;
  }
  .hide-for-small {
    display: none !important;
  }
  .hide-for-large {
    display: block !important;
  }
}
.radius {
  border-radius: 4px !important;
}
.round {
  border-radius: 50%;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.line-through {
  color: #bbb;
  text-decoration: line-through;
}
.line-through:hover {
  color: #bbb;
}
.cursor-auto {
  cursor: auto !important;
}
.font-bold {
  font-weight: bold;
}
/* header */
.header .sidebar-toggle {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  float: left;
  font-size: 14px;
  color: #fff;
}
.top-search {
  padding-left: 50px;
  position: relative;
  height: 50px;
  line-height: 50px;
}
.sure-close {
  display: block;
  width: 37px;
  height: 37px;
  font-size: 24px;
  text-align: center;
  line-height: 37px;
  cursor: pointer;
}
.top-search.active label span.sure-close:hover {
  opacity: 0.8;
}
.top-search label span {
  position: absolute;
  right: 0;
  top: 5px;
  opacity: 1;
  visibility: visible;
  color: #fff;
}
.top-search input,
.top-search input[type="text"]:focus {
  box-shadow: none;
  border: none;
  font-size: 14px;
  outline: none;
  background: none;
  color: #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  border-radius: 0;
  padding: 0.5rem;
}
.admin-search {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 1rem;
  z-index: 1;
  color: #fff;
}
.admin-search + label {
  width: 100%;
  visibility: visible;
  opacity: 1;
  line-height: inherit;
}
.top-search.active .admin-search + label {
  width: 100%;
  visibility: visible;
  opacity: 1;
  line-height: inherit;
}
.top-search.active label span.sure-close {
  opacity: 1;
  visibility: visible;
}
.sug-complete {
  position: absolute;
  width: 170px;
  background: #fff;
  padding: 0 10px;
  border: 1px solid #ddd;
  display: none;
}
.sug-complete ul li a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.sug-complete ul li a:hover {
  background: none;
}
.sug-complete ul li:last-child a {
  background: #fff;
  border: none;
}
@media only screen and (max-width: 639px) {
  .sug-complete {
    width: 100%;
    top: 50px;
  }
  .sug-complete ul {
    margin: 0;
  }
}
.navbar-top .dropdown-pane li a {
  font-size: 12px;
  position: relative;
  display: block;
  padding: 4px;
}
.navbar-top .dropdown-pane {
  width: 160px;
}
.dropdown-pane .badge {
  position: absolute;
  right: 0;
  font-size: 12px;
  padding: 0.1em;
  min-width: 1.7em;
}
.user-info {
  /*position: relative;*/
}
.navbar-top ul {
  margin: 0;
}
.navbar-top > ul > li > a,
.navbar-top a.dropdown {
  padding: 11px 0;
  display: block;
  height: 50px;
  width: 50px;
  font-size: 1.125rem;
  position: relative;
  text-align: center;
  color: #fff;
}
.navbar-top > ul > li:last-child > a,
.navbar-top .user-info > a {
  width: auto;
}
.navbar-top ul li .admin-search {
  color: #FFF;
}
.navbar-top > ul > li > a > .badge,
.navbar-top a.dropdown .badge {
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 10px;
  min-width: 1.6em;
  padding: 0 0.1em;
}
.navbar-top .avatar {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.navbar-top > ul > li:last-child > a img,
.navbar-top .user-info > a img {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 14px;
  top: 50%;
  margin-top: -15px;
  border-radius: 50%;
  overflow: hidden;
}
.dp-down:after {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  width: 0;
  border-width: 0.38889rem;
  right: 1.16667rem;
  margin-top: -0.2rem;
}
/*个人信息模块*/
.user-wrapper1 {
  padding: 20px;
}
.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  float: left;
}
.user-img a {
  display: block;
}
.user-con {
  position: relative;
  padding: 0 0 15px 70px;
  border-bottom: 4px solid #ddd;
}
.uinfo-more {
  position: absolute;
  right: 0;
  top: 0;
}
.user-name {
  font-size: 1.2rem;
}
.user-name a {
  width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inherit;
}
.user-wrapper ul,
.user-wrapper .row {
  padding: 0 8px;
}
.user-wrapper ul li,
.user-wrapper .row .column {
  padding: 0 4px 10px 4px;
  position: relative;
}
.user-wrapper li a .fa,
.user-wrapper .column a .fa {
  font-size: 0.9rem;
  margin-right: 2px;
}
.user-wrapper li a span:nth-child(2),
.user-wrapper .column a span:nth-child(2) {
  position: absolute;
  right: 10px;
}
.navbar-top ul {
  margin: 0;
}
.navbar-top > ul > li:last-child > a,
.navbar-top .user-info > a {
  padding: 14px 42px 14px 60px;
  font-size: 14px;
  position: relative;
  margin-left: 1px;
}
.navbar-top > ul > li {
  float: left;
  display: inline-block;
}
@media screen and (max-width: 639px) {
  .user-name a {
    width: 120px;
  }
}
@media screen and (min-width: 640px) {
  .block-small-only {
    display: none !important;
  }
  .hide-small-only {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .user-name a {
    width: auto;
  }
  /*head右边*/
  .navbar-top > ul > li:last-child > a img,
  .navbar-top .user-info > a img {
    left: 50%;
    margin-left: -20px;
  }
  .navbar-top > ul > li:last-child > a > span,
  .navbar-top .user-info > a span {
    display: none;
  }
  .navbar-top > ul > li:last-child > a,
  .navbar-top .user-info > a {
    padding: 0;
    width: 50px;
    /*margin-right: 62px;*/
  }
  .navbar-top .dp-down:after {
    display: none;
  }
  .top-search.active .admin-search + label {
    top: 0;
    z-index: 20;
  }
}
.go {
  position: fixed;
  width: 35px;
  bottom: 80px;
  right: 10px;
  z-index: 10;
  display: none;
}
.go > a {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 19px;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.25);
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 20px;
}
.gotop {
  background-image: url(../images/gotop.png);
  margin-bottom: 0px;
  display: none;
}
.gobottom {
  background-image: url(../images/gobottom.png);
}
@media screen and (max-width: 639px) {
  .search:hover {
    background: none;
  }
  .go {
    bottom: 50px;
  }
  .block-small-only {
    display: block !important;
  }
  .hide-small-only {
    display: none !important;
  }
  .top-search {
    padding-left: 0;
    float: right;
    position: absolute;
    width: 100%;
  }
  .top-search label {
    position: absolute;
    width: 100%;
    top: -100%;
    background: #fff;
    height: 50px;
    line-height: 50px;
    opacity: 0;
    transition: opacity .1s,top .2s;
  }
  .top-search label.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
  .top-search label input {
    display: block;
    height: 100%;
  }
  .top-search .admin-search {
    right: 100px;
    left: auto;
    color: #fff;
  }
  .logo {
    width: 50px;
  }
  .logo span {
    display: none;
  }
}
/*aside*/
.side-nav.public-list ul li a {
  line-height: 40px;
  font-size: 13px;
  height: 40px;
  display: block;
  padding: 0 10px;
}
.public-list.toggle ul li a {
  padding: 0;
  width: 50px;
  text-align: center;
}
.side-nav.public-list ul li a > span.fa {
  font-size: 14px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.public-list > div > ul > li {
  margin-top: 20px;
}
.public-list > div > ul > li:first-child {
  margin-top: 0;
}
.toggle.public-list > div > ul > li > a {
  display: none;
}
.main-container,
.main-dashboard {
  background: #fff;
  position: absolute;
  /*padding-top: 50px;*/
  width: 100%;
  left: 0;
  overflow: auto;
}
@media screen and (width: 1024px) {
  .sidebar-toggle {
    display: none;
  }
  .product-con {
    padding-right: 0 !important;
  }
}
.dropdown-wrap {
  display: none;
}
@media screen and (max-width: 991px) {
  .main-container,
  .main-dashboard {
    height: 100vh;
  }
  .dropdown-wrap {
    display: block;
  }
  .hide-ms {
    display: none !important;
  }
  .logo {
    left: 50px;
    transition: left .3s;
  }
  .sidebar-toggle {
    display: none !important;
  }
  .smallSidebar {
    width: 40px;
    display: block;
    height: 50px;
    position: absolute;
    left: 10px;
    z-index: 10;
  }
  .smallSidebar span {
    height: 2px;
    width: 26px;
    display: block;
    background: #fff;
    top: 50%;
    position: absolute;
    transition: transform .3s;
    margin: -1px auto;
    left: 0;
    right: 0;
  }
  .smallSidebar span:first-child {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  .smallSidebar span:nth-child(3) {
    -webkit-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
  }
  .smallSidebar.open span:first-child {
    top: 25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .smallSidebar.open span:nth-child(2) {
    display: none;
  }
  .smallSidebar.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .side-nav {
    left: -100%;
    transition: left .3s;
  }
  .side-nav.open {
    left: 0;
    transition: left .3s;
  }
  /*子菜单导航*/
  .subMenu-bar {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 10;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    margin-top: -20px;
  }
  .subMenu-bar span {
    display: block;
    height: 2px;
    width: 16px;
    background: #333;
    position: relative;
    left: 4px;
  }
  .subMenu-bar span:nth-child(1) {
    top: 10px;
  }
  .subMenu-bar span:nth-child(2) {
    top: 16px;
  }
  .subMenu-bar span:nth-child(3) {
    top: 22px;
  }
  .subMenu-bar:before,
  .subMenu-bar:after {
    content: '';
    height: 2px;
    width: 10px;
    background: #333;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -1px;
  }
  .subMenu-bar:after {
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
}
.frame_content {
  position: absolute;
  margin-top: 50px;
  left: 180px;
  right: 0;
  width: auto;
  transition: left .3s;
  /*height: 100vh;*/
  height: -moz-calc(100vh - 50px);
  height: -webkit-calc(100vh - 50px);
  height: calc(100vh - 50px);
  overflow: hidden;
}
.frame_content.toggle {
  left: 50px;
}
.product-navbar,
.classify-navbar,
.product-con .panel {
  position: absolute;
  /*top: 50px;*/
  /*height: calc(100vh - 50px);*/
  /*Firefox*/
  height: -moz-calc(100vh - 50px);
  /*chrome safari*/
  height: -webkit-calc(100vh - 50px);
  height: calc(100vh - 50px);
  /*z-index: 2;*/
  width: 180px;
  transition: width .3s;
}
.foot-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.product-navbar.toggle,
.tree-header.toggle {
  width: 0;
  overflow: visible;
}
.product-navbar.toggle .accordion-list,
.classify-navbar.toggle .tree-header {
  opacity: 0;
  margin: 0;
  transition: opacity .1s;
  overflow: hidden;
}
.product-navbar.toggle .btn-switch span {
  margin-left: -16px;
}
.product-navbar .accordion-list {
  background: none;
  box-shadow: none;
  min-height: 400px;
}
.product-con {
  position: absolute;
  left: 180px;
  top: 0;
  /*padding-top: 50px;*/
  right: 0;
  height: 100%;
  z-index: 1;
  transition: left .3s,transform .3s;
}
.product-con.loading {
  background: url(../images/loading2.gif);
}
.toggle.product-con {
  left: 0;
}
.accordion-list > ul {
  overflow: auto;
}
.panel-body {
  padding: 0 20px;
  min-height: 250px;
  height: -moz-calc(100vh - 120px);
  height: -webkit-calc(100vh - 120px);
  height: calc(100vh - 120px);
  overflow: auto;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .product-con .panel {
    height: 100%;
    overflow: hidden;
  }
  .panel-body {
    /*Firefox*/
    height: -moz-calc(100vh - 44px);
    /*chrome safari*/
    height: -webkit-calc(100vh - 44px);
    height: calc(100vh - 44px);
    overflow: auto;
    padding: 0 10px;
    position: relative;
  }
  .product-con {
    left: 100%;
    width: 100%;
    right: initial;
    z-index: 99;
    background: #fff;
    padding-top: 0;
  }
  .tooltip {
    display: none !important;
  }
  .notice {
    padding: 0 20px;
  }
  .c-addr {
    padding: 10px;
  }
  .frame_content {
    left: 0;
    padding-right: 0;
    overflow: hidden;
    /*height: 100vh;*/
    /*margin-top: 0px;*/
    /*by rjf*/
  }
  .full-content .panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  }
  .product-navbar .accordion-header {
    font-weight: normal;
    text-align: center;
    padding: 0;
    height: 44px;
    line-height: 44px;
    font-size: 1rem;
  }
  .product-navbar .accordion-header i {
    margin-right: 10px;
  }
  .product-navbar .accordion-list > ul > li {
    border-top: 0px;
  }
}
/*取色*/
.paramlist .theme_param {
  position: relative;
  padding: 0 10px 10px 0;
  cursor: default;
}
.paramlist .theme_param .colorText {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  /*display: inline-block;*/
}
.paramlist .theme_param .callback-color-picker {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 5px;
  cursor: pointer;
}
.instal-color li label span:first-child {
  margin-left: 6px;
}
.instal-color li label span {
  display: inline-block;
  width: 26px;
  height: 26px;
  float: left;
  margin-top: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.rel-title {
  font-weight: bold;
  font-size: 14px;
}
/*常见问题*/
.icon-question {
  margin: 0 10px 0 6px;
  position: relative;
  top: 2px;
}
/*public-list*/
.list-item {
  margin-top: 20px;
}
.item-img img {
  width: 100%;
}
.list-item .item-list-con {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.list-item .title3 {
  padding: 16px 0 6px;
  font-size: 14px;
  max-height: 40px;
  overflow: hidden;
  line-height: 21px;
}
.list-item .description {
  color: #93999f;
  font-size: 12px;
  height: 40px;
  overflow: hidden;
  line-height: 20px;
}
.list-item li .item-content {
  position: absolute;
  padding: 0 20px;
  transition: top .3s;
  top: 70px;
  height: 144px;
  width: 100%;
  background: #fff;
}
.list-item li:hover .item-content {
  top: 28px;
}
.list-item .rel-menu {
  position: absolute;
  padding: 0 20px;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  background-color: #fff;
  color: #93999f;
  font-size: 12px;
  line-height: 36px;
}
.rel-menu span {
  margin: 7px 10px 0 0;
}
.rel-menu em {
  margin-left: 6px;
}
/*list-item1*/
.list-item1 {
  padding: 20px;
  background: #fff;
}
.list-item1 .item-list-con {
  background: #fff;
}
.list-item1 .item-list-con {
  border-radius: 0 0 1px 1px;
  -moz-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  padding: 20px 16px 0;
}
.list-item1 .item-list-con:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.list-item1 .title3 {
  margin: 18px 0 0;
  height: 18px;
  line-height: 18px;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-item1 .description {
  color: gray;
  padding: 10px 0;
}
@media screen and (max-width: 991px) {
  .list-item .title3 {
    padding: 6px 0;
  }
  .list-item li:hover .item-content {
    top: 22px;
  }
}
@media screen and (max-width: 639px) {
  .list-item li .item-content {
    top: 132px;
  }
  .list-item li:hover .item-content {
    top: 88px;
  }
}
@media screen and (max-width: 374px) {
  .list-item li .item-content {
    top: 110px;
  }
  .list-item li:hover .item-content {
    top: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .dataTable tbody td {
    font-size: 14px;
  }
  .tables_bar .list-tool-bar {
    position: absolute;
    right: -1px;
    top: -1px;
  }
  .list-tool-bar a {
    height: 44px;
    line-height: 44px;
    width: 44px;
    margin-left: -1px;
  }
}
/*最里面内容作为做IFRAME*/
@media screen and (min-width: 769px) {
  .btn-switch .fa-angle-left {
    display: none;
  }
  .fa-back,
  .small-hide-back {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .product-navbar {
    width: 100%;
    top: 0;
    left: 100%;
    z-index: 99;
    height: 100%;
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  }
  .btn-switch,
  .fa-back,
  .small-hide-back {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: inherit;
    margin: 0;
    height: 50px;
    text-align: center;
    width: 50px;
    padding: 0;
    border: none;
    font-size: 24px;
    color: #fff !important;
  }
  .btn-switch:hover {
    border: none;
  }
  .btn-switch .fa-angle-double-right {
    display: none;
  }
  .btn-switch .fa-angle-left {
    display: inline-block;
    font-size: 24px;
    position: absolute;
    margin: -12px 0 0 -4px;
  }
}
/*饿了么组件*/
@media only screen and (max-width: 639px) {
  .el-dialog__wrapper .el-dialog__body {
    height: calc(100vh - 131px);
    overflow: scroll;
  }
  .modal-bottom-wrapper .el-dialog__body {
    height: auto;
  }
}
